* {background-color:whitesmoke;}
h1 {text-align:center;
font-size:65px;
background-color:wheat;}
img {display:block;
    margin:auto;}
h2 {font-size:35px;
text-align:center;}
h3 {background-color:lightslategrey;
color:blanchedalmond;
text-align:center;}